* {
  color: white;
}

a {
  text-decoration: none;
}

section {
  border-top: 1px solid white;
  box-shadow: 0px -20px 20px black;
}

.navbar {
  padding: 5px;
  z-index: 20;

  background-color: #0F172A;

}

.navbar-nav li img{
  width: 50px;
}


.navbar-brand img{
  width: 50%;
}

body {
  background-color: #0F172A;
}

.main {
  height: 93vh;
  background-image: url("../images/h1.png");
  background-size: 450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  
}

#main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(10px);
}

#titulo {
  display: flex;
  align-items: cebter;
  justify-content: center;
  gap: 0px;
}

#titulo h1 {
  font-size: 40px;
}

#titulo h1 span {
  color: darkturquoise;
}

#main_content p {
  text-align: center;
  font-size: 25px;
}

#main_content h1:nth-child(n+2) {
  color:orange;
}



/*****/

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1s;
}


.reveal {
  position: relative;
  transform: scale(0.5);
  opacity: 0;
}

.reveal.active {
  transform: scale(1);
  opacity: 1;
}


/*Proyectos*/

#Proyectos {
  height: 100%;
}

#Proyectos h1 {
  margin-top: 20px;
}

#ContenedorProyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 1s;
}

.card {
  padding: 5px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  backdrop-filter: filter(blur(10px));
  transition: all .5s;
}

.card img{
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  filter: brightness(70%);
  box-shadow: 0 8px 16px 0 darkturquoise;
  transform: scale(0.9);
}

/* Add some padding inside the card container */
.container {
  padding: 2px;
  color: black;
}

.container p {
  color: black;
}


.VerMas {
  margin-top: 50px;
  font-size: 30px;
  border: 2px solid darkturquoise;
  background-color: rgb(5, 59, 59);
  padding: 10px;
  border-radius: 10px;
  transition: all .25s;
}

.VerMas:hover {
  transform: scale(1.1);
  background-color: rgb(0, 99, 99);
  filter: drop-shadow(0px 10px 10px black);

}

/*REDES*/

#socialmediaContainer {
  display: flex;
  gap: 5px;
}

.iconLink {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#redes #divisor {
  width: 60%;
  height: 1px;
  background-color: white;
}

#redes {
  transition: all 1s;
}

.iconLink a {
  width: 100%;
}

.iconLink a img {
  filter: invert();

}

#githubicon {
  width: 35px;

}

.siguiente {
  margin-top: 30px;
  margin-bottom: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: darkturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 3px solid white;
  font-size: 30px;
  
  animation: bounce alternate-reverse infinite .65s;
}

@keyframes bounce {
  from {
    top: 30px;
    filter: drop-shadow(0px 0px 5px darkturquoise);
  }
  to {
    top: 25px;
  }
}

#redes .siguiente {
  transform: rotate(180deg);
}

#divisor {
  width: 100%;
  height: 1px;
  background-color: white;
}


@media (min-width: 1024px) {

  .main {
    height: 93vh;
    background-image: url("../images/h1.webp");
    background-size: 680px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    
  }

  .navbar {
    padding: 5px;
    z-index: 20;
    font-size: 30px;
    background-color: #0F172A;
  
  }

  body::-webkit-scrollbar {
    display: none;
  } 

  #Proyectos {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #Proyectos a {
    margin-top: 30px;
  }

  #Proyectos h1 {
    margin-top: 80px;
  }

  #ContenedorProyectos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }

  .VerMas {
    margin-top: 80px;
    font-size: 30px;
    cursor: pointer;
  }
}
