@font-face {
  font-family: MainFont;
  src: url(../fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
  font-family: MainBold;
  src: url(../fonts/Euclid\ Circular\ A\ Bold.ttf);
}

* {
  font-family: 'MainFont';
  color: rgb(20, 20, 20);
}

a {
  text-decoration: none;
}

section {
  border-top: 1px solid white;
  box-shadow: 0px -20px 20px black;
}

.navbar {
  padding: 5px;
  z-index: 20;
  color: rgb(255, 255, 255);

  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.079);
}

.navbar-brand {
  background: -webkit-linear-gradient(#00d0ff, #001aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-nav li img {
  width: 50px;
}


.navbar-brand img {
  width: 50%;
}

body {
  background-color: #d1e5ff;
}

.main {
  height: 93vh;
  background-image: url("../images/h1.png");
  background-size: 450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  & svg {
    border: 2px solid;

  }
}

#main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(10px);
  
}

#titulo {
  font-family: 'MainBold';
  display: flex;
  align-items: cebter;
  justify-content: center;
  gap: 0px;
  font-weight: bold;
}

#titulo h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

#titulo h1 span {
  background: -webkit-linear-gradient(#00c8ff, #2600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main_content p {
  text-align: center;
  font-size: 25px;
  margin-bottom: -5px;
}

#main_content {
  margin: 0 auto;
  text-align: center;

  & i {
    padding: 20px;
  }
}

#main_content h1:nth-child(n+2) {
  color: orange;
}

.navbar-toggler {
  border: 2px solid rgb(0, 102, 255);
}

.navbar-toggler:active {
  border: 2px solid rgb(0, 102, 255);

}



/*****/

.info {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1s;
  background-color: white;
  box-shadow: none;
}




.reveal {
  position: relative;
  transform: scale(0.5);
  opacity: 0;
}

.reveal.active {
  transform: scale(1);
  opacity: 1;
}


/*Proyectos*/

#Proyectos {

  border: 0px solid;
}


#Proyectos h1 {
  margin-top: 20px;
}

#ContenedorProyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 1s;
  padding: 20px;
}

.card {
  border: none;
  padding: 5px;
  width: 100%;
  transition: all .5s;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  transform: translateY(-20px);
}

/* Add some padding inside the card container */
.container {
  padding: 2px;
  color: black;
}

.container p {
  color: black;
}


.VerMas {
  margin-top: 50px;
  font-size: 25px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: all .25s;

  background: rgb(45, 49, 189);
  background: -moz-linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d31bd", endColorstr="#00d1ff", GradientType=1);
}

.VerMas a {
  color: white;
  font-weight: normal;
}

.VerMas:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.375));

}

/*REDES*/

#socialmediaContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iconLink {

  display: flex;
  align-items: center;
  justify-content: center;
}

#redes #divisor {
  width: 60%;
  height: 2px;
  background-color: white;
}

#redes {
  background-color: #d1e5ff;
  transition: all 1s;
}

.iconLink {
  background: rgb(45, 49, 189);
  background: -moz-linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d31bd", endColorstr="#00d1ff", GradientType=1);
  border-radius: 50%;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.258);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;  
  height: 80px;;
}
.iconLink a{
  
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLink a img {

  filter: invert();

}

#github {
  margin: 0 auto;
  width: 60px;
}

/*Marcelo!*/

#marcelo h1 {
  margin-top: 100px;
}

#marcelo #divisor {
  width: 80%;
  height: 1px;
  background-color: #fff;
}

#linkmarcelo {
  font-weight: bolder;
  color: black;
  background-color: lightgreen;
  font-style: none;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid green;

  margin-top: 50px;
}

#marcelo img {
  width: 400px;
  transition: transform .75s ease-in-out;
}

#marcelo img:hover {
  /* Al hacer hover, aplicar transformaciones */
  transform: scale(1.2) rotate(360deg);
  animation: spin .75s infinite linear;
  /* Agregar animaci贸n de rotaci贸n infinita */
}

@keyframes spin {

  /* Definir la animaci贸n de rotaci贸n */
  0% {

    filter: drop-shadow(5px 5px 10px green);

  }

  25% {
    filter: drop-shadow(5px 5px 10px blue);

  }

  50% {
    filter: drop-shadow(5px 5px 10px orange);
  }

  75% {
    filter: drop-shadow(5px 5px 10px purple);
  }

  100% {
    transform: rotate(360deg);
    filter: drop-shadow(5px 5px 10px red);

  }
}

.siguiente {
  margin-top: 30px;
  margin-bottom: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: darkturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 3px solid white;
  font-size: 30px;

  animation: bounce alternate-reverse infinite .65s;
}

@keyframes bounce {
  from {
    top: 30px;
    filter: drop-shadow(0px 0px 5px darkturquoise);
  }

  to {
    top: 25px;
  }
}

#redes .siguiente {
  transform: rotate(180deg);
}

#divisor {
  width: 100%;
  height: 1px;
  background-color: white;
}


@media (min-width: 1024px) {

  .main {
    height: 93vh;
    background-image: url("../images/h1.webp");
    background-size: 680px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;

  }

  #titulo h1 {
    margin-top: 20px;
    font-size: 80px;
    width: 1500px;
  }
  #main_content {
    & p {
      font-size: 50px;
    }
    & i {
      width: 50%;
      font-size: 20px;
    }
  }

  .navbar {
    padding: 5px;
    z-index: 20;
    font-size: 20px;
    background-color: white;

  }

  .navbar-brand {
    font-size: 25px;
    font-weight: bold;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  #Proyectos {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #Proyectos a {
    margin-top: 30px;
  }

  #Proyectos h1 {
    margin-top: 100px;
  }

  #ContenedorProyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  }



  .card {
    border: none;
    padding: 5px;
    width: 20%;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .VerMas {
    margin-top: 80px;
    font-size: 30px;
    cursor: pointer;
  }

  /*REDES*/

#socialmediaContainer {
  display: flex;
  gap: 20px;
}

.iconLink {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#redes #divisor {
  width: 60%;
  height: 2px;
  background-color: white;
}

#redes {
  background-color: #d1e5ff;
  transition: all 1s;
}

.iconLink {
  background: rgb(45, 49, 189);
  background: -moz-linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(45, 49, 189, 1) 0%, rgba(0, 209, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d31bd", endColorstr="#00d1ff", GradientType=1);
  border-radius: 50%;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.258);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;  
  height: 80px;;
}
.iconLink a{
  
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLink a img {

  filter: invert();

}

#github {
  margin: 0 auto;
  width: 60px;
}




}